<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="http://localhost:3000/css/reset.css">
  <link rel="stylesheet" href="http://localhost:3000/css/home.css">
</head>
<body>
  
  <main class="main">
    <h1>Welcome!</h1>
  
    <div class="container">
      <button>
        <a href="/login">Login</a>
      </button>
    
      <button>
        <a href="/register">Register</a>
      </button>
    </div>
  </main>


</body>
</html>