<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>

  <link rel="stylesheet" href="http://localhost:3000/css/reset.css">
  <link rel="stylesheet" href="http://localhost:3000/css/loginPage.css">
</head>
<body>
  
  <main class="main">
    <h2>Please login to make an order!</h2>
  
    <% if (errors) { %>
      <div class="error">
        <% errors.forEach(el => { %>
          <span><%= el %></span>
        <% }) %>
      </div>
    <% } %>
  
    <form action="/login" method="post" class="form">
  
      <div>
        <label for="email">Email address:</label> <br>
        <input type="text" name="email" id="email">
      </div>
  
      <div>
        <label for="password">Password:</label> <br>
        <input type="password" name="password" id="password">
      </div>
  
      <button type="submit">Login</button>
  
    </form>
  
    <p>Not registered yet? <a href="/register">Register here</a></p>
  </main>

</body>
</html>