body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  background-image: linear-gradient(rgb(255, 185, 111), rgb(255, 255, 255));
}

.main {
  background-color: black;
  /* text-align: center; */

  padding: 2rem 6rem;

  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form {
  /* width: 80%; */
  border: 1px dashed white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 1rem 2rem;
}

.form button {
  background-color: #ffa500;

  font-weight: bold;

  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 1.2rem;
}

.main a {
  color: #ffa500;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.error {
  color: rgb(255, 117, 117);

  border: 1px solid red;
  border-radius: 0.5rem;
  padding: 0.5rem;
}